In [27]:
from glob import glob
import pandas as pd

import xml.etree.ElementTree as ET
from lxml import etree

In [5]:
file_stats = pd.read_csv('./file_stats.csv')
file_stats.head()

        Id     Sex  Age     Industry Constellation
0  1000331  female   37          NaN           Leo
1  1000866  female   17      Student         Libra
2  1004904    male   23         Arts     Capricorn
3  1005076  female   25         Arts        Cancer
4  1005545    male   25  Engineering   Sagittarius

In [63]:
def parse_xml(file_path):
    with open(file_path, errors='ignore') as f:
        content_list, line = [], f.readline()
        while line:
            if not (line.startswith('<')): 
                content_list.append(line)
            line = f.readline()
    return ' '.join(content_list)

In [ ]:
def

In [65]:
path = '/Users/asen/Downloads/blogs/'

for i,file_name in enumerate(os.listdir(path)):
    if i % 1930 == 0: print(i/193,'%')
    with open(file_name.split('.')[0], "w") as f:
        f.write(parse_xml(path + file_name))

0.0 %
10.0 %
20.0 %
30.0 %
40.0 %
50.0 %
60.0 %
70.0 %
80.0 %
90.0 %
100.0 %